@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #202020;
  --secondary-color: #757575;
  --mobile-button-color: #172c50;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}
h2 {
  font-size: 13px;
  font-weight: 600;
}
.hemburger-icon > div {
  width: 18px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 3px 0;
}
input,
select {
  width: 100%;
  border-bottom: 1px solid #ccc;
  transition: border-bottom 0.3s ease-in 0s;
  z-index: 1;
  position: relative;
  background: transparent;
}
input:focus,
select:focus {
  outline: none;
  border-bottom: 1.5px solid var(--mobile-button-color);
}
input[type="submit"]:focus {
  border: none;
}
label {
  transition: 0.3s;
}
input:focus + label {
  font-size: 12px;
  opacity: 1;
  transform: translate3d(0px, -1.9em, 0px);
}
input[type="checkbox"] {
  accent-color: var(--mobile-button-color);
}
#setBilling:checked + div + div {
  display: flex;
}

input:not(:placeholder-shown) + label {
  font-size: 12px;
  opacity: 1;
  transform: translate3d(0px, -1.9em, 0px);
}

input:focus {
  outline: none;
  border-bottom: 0;
}
select:focus {
  outline: none;
}
.transition-div {
  left: 43%;
  width: 1%;
  height: 1.5px;
  transition: transform 0.2s ease-in;
}
input:focus + label + div {
  transform: scale3d(88, 1, 1);
  background-color: var(--mobile-button-color);
  bottom: 20px;
}
input:focus + label + div.state-div {
  left: 67%;
  transform: scale3d(135, 1, 1);
  bottom: 4px;
}
input:focus + label + div.cvv-div {
  left: 42%;
  transform: scale3d(82, 1, 1);
  bottom: 0;
}

@media (min-width: 410px) {
  .transition-div {
    left: 48%;
  }
  input:focus + label + div {
    transform: scale3d(90, 1, 1);
    background-color: var(--mobile-button-color);
    bottom: 20px;
  }
  input:focus + label + div.state-div {
    left: 40%;
    transform: scale3d(82, 1, 1);
    bottom: 4px;
  }
  input:focus + label + div.cvv-div {
    left: 47%;
    transform: scale3d(92, 1, 1);
    bottom: 0;
  }
}
@media (min-width: 768px) {
  form {
    min-width: 896px;
  }
  input:focus {
    outline: none;
    border-bottom: 0;
  }
  select:focus {
    outline: none;
  }
  .transition-div {
    width: 1%;
    height: 1.5px;
    transition: transform 0.2s ease-in;
  }
  input:focus + label + div {
    transform: scale3d(102, 1, 1);
    background-color: var(--mobile-button-color);
    bottom: 16px;
  }
  input:focus + label + div.state-div {
    left: 42%;
    transform: scale3d(84, 1, 1);
    bottom: 2px;
  }
  input:focus + label + div.cvv-div {
    left: 50%;
    transform: scale3d(100, 1, 1);
    bottom: 0;
  }
  input:invalid:not(:focus):not(:placeholder-shown) + label {
    color: red;
  }
  input:invalid:not(:focus):not(:placeholder-shown) + label + .transition-div {
    color: red;
    transform: scale3d(102, 1, 1);
    background-color: red;
    bottom: 16px;
  }
  input:invalid:not(:focus):not(:placeholder-shown) {
    border: none;
  }
  input:invalid:not(:focus):not(:placeholder-shown) ~ .error {
    display: block;
    color: red;
    font-size: 12px;
  }
}
